::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #3b414d;
}

::-webkit-scrollbar-thumb {
  background-color: #464d5b;
  /* background: linear-gradient(red, orange, yellow, green, lightblue, blue, purple); */
  border-radius: 15px;
}

::-webkit-scrollbar-corner {
  background-color: #3b414d;
}

body {
  height: 100vh;
  background-color: #282c34;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin: 20px 0 10px 0;
  pointer-events: none;
}

.main {
  color: white;
  padding-top: 10px;
}

.input_text {
  background-color: #3b414d;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 450px;
  height: 30px;
  font-size: 25px;
  display: flex;
  margin: 0 auto;
  border: 0;
  border-radius: 10px;
}

::placeholder {
  color: rgb(193, 193, 193);
}

@media screen and (max-width: 768px){
  .input_text {
    width: 300px;
    height: 25px;
    font-size: 20px;
  }
}

@media screen and (max-width: 368px){
  .input_text {
    width: 250px;
  }
}

.buttons {
  display: inline-block;
}

.encrypt_button {
  font-family: 'Poppins', sans-serif;
  max-width: 150px;
  min-width: 100px;
  height: 50px;
  background-color: #3b414d;
  color: white;
  margin-right: 5px;
  font-size: 17.5px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.decrypt_button {
  font-family: 'Poppins', sans-serif;
  max-width: 150px;
  min-width: 100px;
  height: 50px;
  background-color: #3b414d;
  color: white;
  margin-left: 5px;
  font-size: 17.5px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.text_output_container {
  background-color: #3b414d;
  border-radius: 15px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  min-height: 30vh;
}

.copy_panel {
  background-color: #464d5b;
  width: 100%;
  min-height: 50px;
  justify-content: right;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  vertical-align: middle;
  display: flex;
}

.copy_btn {
  float: right;
  border-radius: 20px;
  width: 45px;
  height: 45px;
  background-color: #3b414d;
  border: 0;
  margin-top: 2.5px;
  margin-right: 2.5px;
  cursor: pointer;
}

.copy_img {
  width: 30px;
  float: right;
}

.isCopied {
  display: none;
  margin: auto 0;
  margin-right: 10px;
  padding: 0;
}
.text_output {
  text-align: left;
  min-height: 450px;
  width: 98%;
  text-align: left;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.p_output {
  margin: 0;
  font-size: 17.5px;
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word; 
}



footer {
  background-color: #282c34;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.made_using {
  background-color: #282c34;
  padding: 0px 0 10px 0;
  margin: 0;
  pointer-events: none;
}

.made_using_icons {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-bottom: 10px;
}

.html {
  height: 4.5vmin;
  min-height: 25px;
  pointer-events: none;
  margin-right: 5px;
  margin-left: 5px;
}

.css {
  height: 4.5vmin;
  min-height: 25px;
  pointer-events: none;
  margin-right: 5px;
}
.js {
  height: 4.5vmin;
  min-height: 25px;
  pointer-events: none;
  margin-left: 5px;
}

.React {
  height: 5.5vmin;
  min-height: 25px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .React {
    animation: App-logo-spin infinite 20s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
